.cdk-overlay-backdrop{
    opacity: 0.0001 !important;
    background-color: rgba(0,0,0,.00001) !important;
}

.cdk-overlay-backdrop-showing{
    opacity: 0.0001 !important;
    background-color: rgba(0,0,0,.00001) !important;
}

.cdk-overlay-container{
    opacity: 0.0001;
    background-color: rgba(0,0,0,.00001) !important;
}